Project3-Chenjie1/WebServiceDesignStyles1ProjectClient/src/META-INF/wsdl/localhost_6502/WebServiceDesignStyles1Project/DesignStyles1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://chenjie1.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://chenjie1.edu/" name="DesignStyles1">
<types>
<xsd:schema>
<xsd:import namespace="http://chenjie1.edu/" schemaLocation="http://localhost:6502/WebServiceDesignStyles1Project/DesignStyles1?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="addSpy">
<part name="parameters" element="tns:addSpy"/>
</message>
<message name="addSpyResponse">
<part name="parameters" element="tns:addSpyResponse"/>
</message>
<message name="deleteSpy">
<part name="parameters" element="tns:deleteSpy"/>
</message>
<message name="deleteSpyResponse">
<part name="parameters" element="tns:deleteSpyResponse"/>
</message>
<message name="getList">
<part name="parameters" element="tns:getList"/>
</message>
<message name="getListResponse">
<part name="parameters" element="tns:getListResponse"/>
</message>
<portType name="DesignStyles1">
<operation name="hello">
<input wsam:Action="http://chenjie1.edu/DesignStyles1/helloRequest" message="tns:hello"/>
<output wsam:Action="http://chenjie1.edu/DesignStyles1/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="addSpy">
<input wsam:Action="http://chenjie1.edu/DesignStyles1/addSpyRequest" message="tns:addSpy"/>
<output wsam:Action="http://chenjie1.edu/DesignStyles1/addSpyResponse" message="tns:addSpyResponse"/>
</operation>
<operation name="deleteSpy">
<input wsam:Action="http://chenjie1.edu/DesignStyles1/deleteSpyRequest" message="tns:deleteSpy"/>
<output wsam:Action="http://chenjie1.edu/DesignStyles1/deleteSpyResponse" message="tns:deleteSpyResponse"/>
</operation>
<operation name="getList">
<input wsam:Action="http://chenjie1.edu/DesignStyles1/getListRequest" message="tns:getList"/>
<output wsam:Action="http://chenjie1.edu/DesignStyles1/getListResponse" message="tns:getListResponse"/>
</operation>
</portType>
<binding name="DesignStyles1PortBinding" type="tns:DesignStyles1">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addSpy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteSpy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DesignStyles1">
<port name="DesignStyles1Port" binding="tns:DesignStyles1PortBinding">
<soap:address location="http://localhost:6502/WebServiceDesignStyles1Project/DesignStyles1"/>
</port>
</service>
</definitions>