Lab 5/bumpertest/xml-resources/web-service-references/bumperServer2/wsdl/localhost_6502/WebApplication1/bumperServer2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bumper.chenjie1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bumper.chenjie1/" name="bumperServer2">
<types>
<xsd:schema>
<xsd:import namespace="http://bumper.chenjie1/" schemaLocation="http://localhost:6502/WebApplication1/bumperServer2?xsd=1"/>
</xsd:schema>
</types>
<message name="get">
<part name="parameters" element="tns:get"/>
</message>
<message name="getResponse">
<part name="parameters" element="tns:getResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="bump">
<part name="parameters" element="tns:bump"/>
</message>
<message name="bumpResponse">
<part name="parameters" element="tns:bumpResponse"/>
</message>
<portType name="bumperServer2">
<operation name="get">
<input wsam:Action="http://bumper.chenjie1/bumperServer2/getRequest" message="tns:get"/>
<output wsam:Action="http://bumper.chenjie1/bumperServer2/getResponse" message="tns:getResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://bumper.chenjie1/bumperServer2/helloRequest" message="tns:hello"/>
<output wsam:Action="http://bumper.chenjie1/bumperServer2/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="bump">
<input wsam:Action="http://bumper.chenjie1/bumperServer2/bumpRequest" message="tns:bump"/>
<output wsam:Action="http://bumper.chenjie1/bumperServer2/bumpResponse" message="tns:bumpResponse"/>
</operation>
</portType>
<binding name="bumperServer2PortBinding" type="tns:bumperServer2">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="get">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bump">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="bumperServer2">
<port name="bumperServer2Port" binding="tns:bumperServer2PortBinding">
<soap:address location="http://localhost:6502/WebApplication1/bumperServer2"/>
</port>
</service>
</definitions>